.conteiner-cards {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  overflow-x: hidden; /* Oculta el scroll horizontal *
  /* display: flex;
  flex-direction: row;
  width: 100vw;

  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* max-width: 150px; 
  max-height: auto; */
}

.card-movies {
  /* align-items: center;*/

  width: 300px;
  min-height: 700px;
  margin: 7px;
  border-radius: 5px;

  background-color: grey;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* margin: auto;

  /*box-shadow: 5px 5px -10px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  margin-bottom: 2rem; */
}
.btn:hover {
  box-shadow: 0px 5px 10px white;
}

.card-movies img {
  max-width: 250px;
  border-radius: 5px;

  height: auto;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.card-movies img:hover {
  box-shadow: 0px 5px 10px white;
}
.p-resum {
  color: rgb(253, 195, 124);

  white-space: pre-line; /* Respeta saltos de línea */
  text-align: justify; /* Justifica el texto */
  line-height: 1.5; /* Espaciado entre líneas */
  word-wrap: break-word; /* Evita que palabras largas rompan el diseño */
  padding: 10px; /* Agrega espacio alrededor del texto */
  font-size: 16px; /* Tamaño adecuado de fuente */
  max-width: 400px; /* Opcional, para limitar el ancho */
}

.btn {
  margin-bottom: 1rem;
}
@media (min-width: 250px) {
  .conteiner-cards {
    display: flex;
    flex-direction: column; /* Para que las tarjetas se apilen */
    align-items: center; /* Centrar la tarjeta */
  }

  .card-movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ocupar todo el ancho disponible */
    /* Limitar al tamaño de la card */
  }
  img {
    min-width: 90%;
  }
}
